body {
  background-color: #212738;
}

#buttonsSection {
  text-align: center;
}

#about {
  text-align: center;
}

#work {
  text-align: center;
}

#resume {
  text-align: center;
}

#contact {
  text-align: center;
}

h1 {
  font-family: "Raleway";
  font-weight: bolder;
  font-size: 50px;
  color: #D1D646;
  margin-bottom: 10px;
}

button {
  background-color: #EDF2EF;
  font-family: "Raleway";
  font-size: 20px;
  border-radius: 50px;
  margin-top: 0px;
  margin-bottom: 20px;
}

button:hover {
  background-color: #F97068;
}

h2 {
  font-family: "Raleway";
  font-weight: bold;
  text-align: center;
  font-size: 35px;
  color: #57C4E5;
}

img {
  width: 350px;
  margin-bottom: 5px;
}

p {
  font-family: "Cabin";
  font-weight: normal;
  text-align: left;
  font-size: 20px;
  color: #EDF2EF;
  margin-left: 20px;
}

a {
  color: #F97068;
}

a:hover {
  color: #57C4E5;
}

#aboutdivs {
  flex-grow: 1;
  display: flex;
  text-align: center;
  margin-left: 45px;
  margin-right: 45px;
}

#workdivs {
  padding: 20px;
  margin: 10px;
}

label {
  font-family: "Cabin";
  font-weight: normal;
  text-align: left;
  font-size: 20px;
  color: white;
}

input {
  border-radius: 30px;
  margin-bottom: 5px;
}

textarea {
  border-radius: 20px;
  margin-bottom: 10px;
  text-align: left;
}
