body {
  background-color: black;
}
#divs {
  background-color: #434343;
  text-align: center;
  padding-left: 2vw;
  padding-top: 1vw;
  padding-bottom: 2vw;
  padding-right: 2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  display: flex;
  border-radius: 25px;
}
#bottom {
  text-align: center;
}
.about {
  flex-grow: 1;
  width: auto;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
}
.goals {
  flex-grow: 1;
  width: auto;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
}
h1 {
  color:#00B4BF;
  font-family: "Kirang Haerang";
  font-weight:100;
  font-size: 3vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  text-align: center;
}
h2 {
  color:#FFB84D;
  font-family: "Kirang Haerang";
  font-weight:100;
  font-size: 2.5vw;
}
p {
  color:#C2C2C2;
  font-family: "Happy Monkey";
  font-weight:500;
  font-size: 1.5vw;
}
img {
  width: 15vw;
}
button {
  background: white;
  font-family: "Kirang Haerang";
  font-size: 20px;
  border-radius: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}

a:link {
  color: #00B4BF;
}
a:hover {
  color: #00838B;
}

a:clicked {
  color: #00838B;
}

#bottom {
  text-align: center;
  padding-top: 1vw;
}

@media (min-width: 1000px) {
  h1 {
    font-size: 4vw;
  }
  h2 {
    font-size: 3.5vw;
  }
  p {
    font-size: 2.5vw;
  }
  img {
    width: 25vw;
  }
  button {
    font-size: 3vw;
  }
}
