body {
  background-color: black;
}
#first {
  background-color:#434343;
  border: solid black 2px;
  text-align: center;
  padding-left: 2vw;
  padding-top: 1vw;
  padding-bottom: 2vw;
  padding-right: 2vw;
}
#second {
  background-color: #434343;
  border: solid black 2px;
  text-align: center;
  padding-left: 2vw;
  padding-top: 1vw;
  padding-bottom: 2vw;
  padding-right: 2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
#third {
  text-align: center;
}
h1 {
  color:#C2C2C2;
  font-family: "Kirang Haerang";
  font-weight:100;
  font-size: 3vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  text-align: center;
}
h2 {
  color:#C2C2C2;
  font-family: "Kirang Haerang";
  font-weight:100;
  font-size: 2vw;
}
p {
  color:#C2C2C2;
  font-family: "Happy Monkey";
  font-weight:500;
}

a:link {
  color: #00B4BF;
}
a:visited {
  color: #FFB84D;
}
a:hover {
  color: #00838B;
}

#bottom {
  text-align: center;
  padding-top: 1vw;
}
